<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @comment.user %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @comment.remark %>
</p>

<%= link_to 'Edit', edit_article_comment_path(@article, @comment) %> |
<%= link_to 'Back', articles_path %>
