<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @article.author %>
</p>

<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<% if @article.comments.any? %>
  <h4>Here are the comments for this article:</h4>

  <% @article.comments.each do |comment| %>
    <ul>
      <li>
        <%= link_to '"' + comment.remark + '"' + ' by ' + comment.user, article_comment_path(@article, comment) %>
      </li>
    </ul>
  <% end %>
<% else %>
  <p>No comments are listed for this article.</p>
<% end %>


<% if current_user && current_user.admin %>
  <%= link_to 'Edit', edit_article_path(@article) %> |
<% end %>
<%= link_to 'Back', articles_path %> |
<%= link_to 'Add A Comment', new_article_comment_path(@article) %>
